.preview-wrapper {
  position: relative;
  height: 100%;
  flex-grow: 1;
}

.preview-wrapper iframe {
  height: 100%;
  width: 100%;
}

.preview-error {
  position: absolute;
  inset: 10px 10px;
  color: red;
}

.react-draggable-transparent-selection .preview-wrapper:after {
  content: '';
  position: absolute;
  inset: 0;
  opacity: 0;
}
